<div class='bo-logo'><%= image_tag "bobo-logo.png" %></div>

<head>
  <div class='seasons-container'>
    <ul class='seasons'>
      <li id='winter'><a href="#Winter"></a><%= image_tag "winter-icon.svg" %></li>
      <li id='fall'><a href="#Fall"></a><%= image_tag "fall-icon.svg" %></li>
      <li id='summer'><a href="#Summer"></a><%= image_tag "summer-icon.svg" %></li>
      <li id='spring'><a href="#Spring"></a><%= image_tag "spring-icon.svg" %></li>
    </ul>
  </div>
</head>

<body>
  <% @seasons.each do |season| %> <br>__________________________________<br><br>
    <div class='season-beers'>
      <h1><a name="<%= season.name %>"><%= season.name %></a></h1>
      <% season.beers.each do |beer| %>
        <div class='beers'>
          <%= beer.name %>
          <br>
          <%= beer.description %>
          <br>
          <button id='lcbo-availability'><%= beer.product_id %></button>
        </div>
        <br>
      <% end %>
    </div>
  <% end %>
</body>

<br>
