<p id="notice"><%= notice %></p>

<h1>Season's Greetings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fullname</th>
      <th>Description</th>
      <th>Season</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.name %></td>
        <td><%= beer.fullname %></td>
        <td><%= beer.description %></td>
        <td><%= beer.season %></td>
      </tr>
    <% end %>
  </tbody>  
</table>

<br>

<%= link_to 'New Beer', new_beer_path %>
